*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E213F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100dvh;
  display: flex;
  align-items: center;
}

body {
  color: rgba(215, 224, 255, 1) !important;
}

.selectBox .MuiSelect-select.MuiInputBase-input{
  display: flex;
  gap: 5px;
  align-items: center;
}

@media(width < 768px) {
  #root{
    padding: 0;
  }
  .MuiContainer-root{
    transform: scale(.8);
  }
}